<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>

    <!-- Site Metadata -->
    <meta charset="utf-8">
    <meta name="title" content="{{ .Title }}">
    <meta name="author" content="Dylan Nugent">
    {{ if .Params.description }}
      <meta name="description" content="{{ .Params.description }}">
    {{ else }}
      <meta name="description" content="Dylan's random musings on life, software, and everything.">
    {{ end }}

    <meta name="twitter:card" content="summary"></meta>
    <!-- Dumb that this is a duplicate of the above but it seems to be needed;
      Twitter won't fall back on "normal" meta tags. Can probably consolidate
      this at some point. -->
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:author" content="Dylan Nugent">
    {{ if .Params.description }}
      <meta property="og:description" content="{{ .Params.description }}">
    {{ else }}
      <meta property="og:description" content="Dylan's random musings on life, software, and everything.">
    {{ end }}
    <meta name="twitter:site" content="@dylnuge">
    <meta name="twitter:creator" content="@dylnuge">

    <!-- Stylesheets, Fonts, and Icons -->
    <link href="/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/fontawesome/css/solid.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <header class="{{ .Params.header }}">
      <div class="content-container">
      {{ if eq .Params.header "extended" }}
        <div class="site-title">Hi, I'm Dylan</div>
        <div class="site-subhead">
          I'm an NYC-based software engineer often going by <span class="console-text">
          dylnuge</span> online. This is my self-indulgent potpourri of projects and
          writings on software and everything else.
        </div>
        <hr class="header-separator"></hr>
      {{ end }}
        <nav class="main-nav">
          <a href="/">About</a>
          <a href="/post/">Blog</a>
        </nav>
        <nav class="right-nav">
          <a href="/post/index.xml" title="RSS" aria-label="RSS" class="rss">
            <i class="fas fa-rss" aria-hidden="true"></i>
          </a>
          <a rel="me" href="https://recurse.social/@dylnuge" title="Mastodon" aria-label="Mastodon" class="mastodon">
            <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/dylnuge" title="GitHub" aria-label="GitHub" class="github">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/dylnuge" title="Twitter" aria-label="Twitter" class="twitter">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </nav>
      </div>
    </header>

    <div class="main-content">
      <div class="content-container">
          {{ block "main" . }}

          {{ end }}
      </div>
    </div>
  </body>
</html>
