<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>

    <!-- Stylesheets, Fonts, and Icons -->
    <link href="/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik|Roboto+Mono" rel="stylesheet">
    <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/fontawesome/css/solid.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <header>
      <div class="content-container">
        <div class="site-title">Hi, I'm Dylan</div>
        <div class="site-subhead">
          I'm an SF-based software engineer often going by <span class="console-text">
          dylnuge</span> online. This is my self-indulgent potpourri of projects and
          writings on software and everything else.
        </div>
        <hr class="header-separator"></hr>
        <nav class="main-nav">
          <a href="/">Home</a>
          <a href="/post/">Posts</a>
        </nav>
        <nav class="right-nav">
          <a href="/post/index.xml" title="RSS" class="rss">
            <i class="fas fa-rss" aria-hidden="true"></i>
          </a>
          <a href="https://www.admonymous.co/dylnuge" title="Give Me Feedback" class="feedback">
            <i class="fas fa-comment-dots" aria-hidden="true"></i>
          </a>
          <a href="https://keybase.io/dylnuge" title="Keybase" class="keybase">
            <i class="fab fa-keybase" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/dylan-nugent-aa486521/" title="LinkedIn" class="linkedin">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/dylnuge" title="Github" class="github">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/dylnuge" title="Twitter" class="twitter">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </nav>
      </div>
    </header>

    <div class="main-content">
      <div class="content-container">
          {{ block "main" . }}

          {{ end }}
      </div>
    </div>
  </body>
</html>
