<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik|Roboto+Mono" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">

      <div class="content-container">
        <div class="site-title">Hi, I'm Dylan</div>
        <div class="site-subhead">
          I'm an SF-based software engineer often going by <span class="console-text">
          dylnuge</span> online. This is my self-indulgent potpourri of projects and
          writings on software and everything else.
        </div>
      </div>
    </div>
    <div class="content-container">
        {{ block "main" . }}

        {{ end }}
    </div>
  </body>
</html>
